{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="dashboard-module-header">
        <h2>Class members list</h2>
    </div>

    <div id="dashboard-module-body">
        <table class="table" id="class-members-list">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Role</th>
                <th>Account status</th>
                <th>Email address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for instructor in faculty %}
                 <tr class="info">
                    <td>{{ instructor.get_full_name }}</td>
                    <td>Instructor</td>
                    <td>{{ instructor.status }}</td>
                    <td><a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a></td>
                    <td>
                    {% if instructor.status == "Invited" %}
                        <form action="{% url resend_invite %}" id="resend_invite_{{ instructor.id }}" method="post">
                            <input type="hidden" name="user_id" value="{{ instructor.id }}" />
                        </form>
                    {% endif %}
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if instructor.status == "Invited" %}<li><a href="#" onclick="$('#resend_invite_{{ instructor.id }}').submit();return false;">Resend Invite</a></li>{% endif %}
                        </ul>
                    </div>
                    </td>
                </tr>
            {% endfor %}

            {% for student in students %}
                <tr>
                    <td>{{ student.get_full_name }}</td>
                    <td>Student</td>
                    <td class="student_status">{{ student.status }}</td>
                    <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                    <td>
                    <form action="{% url promote_student %}" id="promote_student_{{ student.id }}" method="post">
                        <input type="hidden" name="user_id" value="{{ student.id }}"/>
                    </form>
                    {% if student.status == "Invited" %}
                        <form action="{% url resend_invite %}" id="resend_invite_{{ student.id }}" method="post">
                            <input type="hidden" name="user_id" value="{{ student.id }}"/>
                        </form>
                    {% endif %}
                    <form action="{% url remove_student %}" id="remove_student_{{ student.id }}" method="post">
                        <input type="hidden" name="user_id" value="{{ student.id }}"/>
                    </form>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="$('#promote_student_{{ student.id }}').submit();return false;">Promote</a></li>
                            {% if student.status == "Invited" %}<li><a href="#" onclick="$('#resend_invite_{{ student.id }}').submit();return false;">Resend Invite</a></li>{% endif %}
                            <li><a href="#" onclick="$('#remove_student_{{ student.id }}').submit();return false;">Remove from class</a></li>
                        </ul>
                    </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Invited students: <span id="invited_count"></span><br>
        Activated students: <span id="activated_count"></span><br>
        Total students: <span id="members_count"></span></p>
    </div>
    <script type="text/javascript">
        var invited = $(".student_status").filter(":contains(Invited)").length;
        var activated = $(".student_status").filter(":contains(Activated)").length;
        var total = invited + activated;
        $("#invited_count").text(invited);
        $("#activated_count").text(activated);
        $("#members_count").text(total);
    </script>
{% endblock %}
