._*
*~
*.pyc
.*.sw[pqrs]
uploads/
ve
deploy_specific
.svn
\#*
local_settings.py
.project
.pydevproject
start_server.sh
.settings
lettuce.db
chromedriver.log
ghostdriver.log
.coverage
media/js/sherdjs/
media/CACHE
libpeerconnection.log
coverage
collected_static
.vagrant
mediathread.db
reports
deploy/hosts/*/group_vars/all
deploy/hosts/*/*.crt
deploy/hosts/*/*.key

/CACHE/
