{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Invite Students{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
{% endblock %}

{% block call_to_action %}
    {% if request.user.is_authenticated and request.course and invites_left <= 1 %}
        <div class="call-to-action">
            <h2>You've used your available courses on this plan. Click here to upgrade to a larger plan: </h2><a class="btn btn-success" href="http://getmediathread.com/plans.html">Upgrade</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="invite-students-form">
        <h2 class="title">Invite students to your course</h2>
        <h3 class="remaining-invites">Remaining invites: <strong>{{ invites_left }}</strong></h3>
        {% crispy form %}
    </div>
{% endblock content %}
