{% extends "base.html" %}
{% load static %}
{% block title %}
   Please Login
{% endblock %}

{% block content %}

<div style="padding: 20px; margin: 0 auto; width: 385px; border: black solid 1px;">

<form name="login_local" class="form-horizontal" id="login-form" method="post" action=".">
  {% csrf_token %}
    <legend>Log in</legend>
    <div class="control-group{% if form.login.errors %} error{% endif %}">
      <label for="id_username" class="control-label">{{ form.login.label }}:</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                {{ form.login }}
            </div>
            {% if form.login.errors %}
                <span class="help-block">{{ form.login.errors.0 }}</span>
            {% endif %}
        </div>
    </div>
    <div class="control-group{% if form.password.errors %} error{% endif %}">
        <label for="id_password" class="control-label">{{ form.password.label }}:</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                {{ form.password }}
            </div>
            {% if form.password.errors %}
                <span class="help-block">{{ form.password.errors.0 }}</span>
            {% endif %}
            {% if form.errors %}
                <p class="text-error">Please enter a correct email address and password. Note that both fields are case-sensitive.</p>
            {% endif %}
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Log In" class="btn btn-large btn-success" />
    </div>
    <p>Are you a professor looking to create your own course? <a href="{% url registration-form %}">Sign up here</a></p>
    <p>Forgot your password? <a href="{% url account_reset_password %}">Click here</a> to reset it.</p>
    <p><i>Note: students will get an invite email from their professors containing the link to create their account</i></p>

    <input type="hidden" name="next" value="{{ next|urlencode }}" />
</form>

</div>

{% endblock %}
