{% extends "base.html" %}
{% load smartif revision static compress %}

{% block title %}
    Collection
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/site_media/js/select2/select2.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/site_media/js/select2/select2.css" media="screen" />
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
            
    <!--  Generic Functionality -->
    <script type="text/javascript" src="{% static 'jquery/js/jquery.masonry.min.js' %}"></script>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var url = "";
        {% if asset_id and annotation_id%}
            url = MediaThread.urls['asset-workspace']({{ asset_id }}, {{ annotation_id }});
        {% elif asset_id %}
            url = MediaThread.urls['asset-workspace']({{ asset_id }});
        {% endif %}
        jQuery(document).ready(function () {
            PanelManager.init({
                'container': 'sliding-content-container',
                'url': url
            });
        });
    </script>
{% endblock extra_js %}

{% block content %}
    {{ block.super }}
    
    <table id="sliding-content-container">
        <tr id="sliding-content-row" class="sliding-content-row">
            <td id="sliding-content-last-column" class="filler"></td>
        </tr>
    </table>
{% endblock %}    